Angular2ONly/node_modules/
Angular2ONly/obj/
Angular2ONly/app/app.service.js.map
Angular2ONly/app/app.service.js
Angular2ONly/app/app.service.component.js.map
Angular2ONly/app/app.service.component.js
